$color-yellow: rgb(240, 180, 66);
$color-white: rgb(244, 238, 226);
$color-purple: rgb(101, 40, 106);
$color-pxred: red; 
$color-pxblue: blue; 
$color-pxyellow: yellow; 
$color-pxpink: pink; 




* {
    box-sizing: border-box;
  }

body {
    background-color: $color-yellow;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 3.5rem;
    color: $color-white;
    text-align: center;
}

h2 {
    color: $color-purple;
}

#welcomeContainer {
    color: $color-white;
    padding: 0 100 50 100;
}

#galleryContainer {
    padding-top: 100px;
}

input {
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 350px;
    font-size:0.8rem;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-right: 10px;
}

button {
    color:  $color-white;
    background-color: $color-purple;
    margin-top: 20px;
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
}

button:hover,
button:focus {
    background: #50235c;
}

button:active {
    transform: scale(0.99);
}

#startGameBtn {
    font-size: 1.2rem;
}

#displayInfoWrapper {
    display: flex;
    align-items: center;

    #colorBox {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

    .red {
        background-color: $color-pxred;
    }

    .blue {
        background-color: $color-pxblue;
    }

    .yellow {
        background-color: $color-pxyellow;
    }

    .pink {
        background-color: $color-pxpink;
    }
}

$pixels-30px: 30px;
$small-pixels: 12px;

#gridContainer {
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
 
    .pixels {
        border: 1px solid white;
        background-color: $color-white;
        width: $pixels-30px;
        height: $pixels-30px; 
    }
}
#root {
    display: flex;
    flex-wrap: wrap;
}

#gameBoardContainer {
    padding-left: 100px;
    text-align: left;
}

#chat-container {
    padding-left: 100px;
    text-align: left;
}

#chatForm {
    position: relative;
}

li {
    text-align: left;
    list-style-type: none;
}

.userSender {
    color: $color-white;
    font-size: 0.8rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 297 168'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %2365286a; %7D %3C/style%3E%3C/defs%3E%3Cg id='Group_24' data-name='Group 24' transform='translate(-1404.826 -820)'%3E%3Crect id='Rectangle_269' data-name='Rectangle 269' class='cls-1' width='297' height='168' rx='50' transform='translate(1404.827 820)'/%3E%3Cpath id='Polygon_1' data-name='Polygon 1' class='cls-1' d='M27.5,0,55,25H0Z' transform='translate(1646.827 956)'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    resize: both;
    overflow: visible;
    height: auto;
    // max-width: 350px;
    width: 297px;
    padding: 40;
    margin: 20 0;
    margin-left: 50px;
}

.otherSender {
    font-size: 0.8rem;
    background-image: url("data:image/svg+xml,%3Csvg id='Group_25' data-name='Group 25' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 297 168'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23f4eee2; %7D %3C/style%3E%3C/defs%3E%3Crect id='Rectangle_269' data-name='Rectangle 269' class='cls-1' width='297' height='168' viewBox='0 0 297 168' rx='50'/%3E%3Cpath id='Polygon_1' data-name='Polygon 1' class='cls-1' d='M27.5,0,55,25H0Z' transform='translate(0 136)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    max-width: 297px;
    padding: 40;
    margin: 20 0;
    margin-left: -50px;
}

.chatPlayerName {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 10px;
}

#sendChatMsgBtn {
    position: absolute;
    left: 296px;
    top: -17px;
}

footer {
    padding: 100 50 0 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: right;
}

#calqueGridContainer {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
 
    .calque-pixels {
        border: 1px solid white;
        background-color: $color-white;
        width: $small-pixels;
        height: $small-pixels; 
    }
}

.savedPaintGridContainer {
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
 
    .savedPaintPixels {
        border: 1px solid white;
        background-color: $color-white;
        width: $pixels-30px;
        height: $pixels-30px; 
    }

    .red {
        background-color: $color-pxred;
    }

    .blue {
        background-color: $color-pxblue;
    }

    .yellow {
        background-color: $color-pxyellow;
    }

    .pink {
        background-color: $color-pxpink;
    }
}