$color-yellow: rgb(240, 180, 66);
$color-white: rgb(244, 238, 226);
$color-purple: rgb(101, 40, 106);

* {
    box-sizing: border-box;
  }

body {
    background-color: $color-yellow;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 3.5rem;
    color: $color-white;
    text-align: center;
}

h2 {
    color: $color-purple;
}

#welcomeContainer {
    color: $color-white;
    padding: 0 100 50 100;
}

#galleryContainer {
    padding-top: 100px;
}

input {
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 350px;
    font-size:0.8rem;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-right: 10px;
}

button {
    color:  $color-white;
    background-color: $color-purple;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
}

#startGameBtn {
    font-size: 1.2rem;
}

#displayInfoWrapper {
    display: flex;
    align-items: center;

    #colorBox {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

    .red {
        background-color: red;
    }

    .blue {
        background-color: blue;
    }

    .yellow {
        background-color: yellow;
    }

    .pink {
        background-color: pink;
    }
}

$pixels-30px: 30px;
$small-pixels: 12px;

#gridContainer {
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
 
    .pixels {
        border: 1px solid white;
        background-color: $color-white;
        width: $pixels-30px;
        height: $pixels-30px; 
    }
}
#root {
    display: flex;
    flex-wrap: wrap;
}

#gameBoardContainer {
    padding-left: 100px;
    text-align: left;
}

#chat-container {
    padding-left: 100px;
    text-align: left;
}

#chatForm {
    position: relative;
}

li {
    text-align: left;
    list-style-type: none;
    background-color: $color-white;
    border-radius: 50px;
    padding: 30px;
    margin: 20 0;
}

.chatPlayerName {
    font-weight: 700;
}

#sendChatMsgBtn {
    position: absolute;
    right: 16px;
    top: -16px;
}

footer {
    padding: 100 50 0 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: right;
}

#calqueGridContainer {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
 
    .calque-pixels {
        border: 1px solid white;
        background-color: $color-white;
        width: $small-pixels;
        height: $small-pixels; 
    }
}
